<img src="bolsafamilia.jpg" width="800"/>

<h1>Pagamentos do programa Bolsa Família  Janeiro de 2020</h1><br>
Está apresentação foi criada por <b>Fabricio Almeida da Silva</b>. Farei algumas análises sobre os dados encontrados neste <a href="http://www.dados.gov.br/dataset/bolsa-familia-pagamentos/resource/6337fab7-c6c8-4ad5-8519-838ae9ad9933">DataSet</a> do programa Bolsa Família relativo ao mês de Janeiro de 2020.

#### O que queremos desse DataSet?
1 - Número de beneficiários Bolsa Família por estado
<br> 2 - Valor total de beneficios(em dinheiro) por estado
<br> 3 - As 10 cidades com o maior número de beneficiários
<br> 4 - As 10 cidades com o maior valor total de beneficios(em dinheiro)

In [51]:
#Importando as bilbliotecas necessárias.
import pandas as pd
import plotly
import plotly.graph_objs as go
import plotly.offline as py
plotly.offline.init_notebook_mode(connected=True)

In [52]:
#Importando o DataSet Bolsa Família relativo a Janeiro de 2020
df = pd.read_csv('202001_BolsaFamilia_Pagamentos.csv', sep= ';', encoding='ISO-8859-1')
df.head()

,MÊS REFERÊNCIA,MÊS COMPETÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS FAVORECIDO,NOME FAVORECIDO,VALOR PARCELA
0,202001,201901,MG,4123,BELO HORIZONTE,12581466091,ADRIANA RANGEL SANSAO,"253,00"
1,202001,201901,MG,4123,BELO HORIZONTE,16057458312,ALEXSANDRA PEREIRA MUTZ,"253,00"
2,202001,201901,MG,4123,BELO HORIZONTE,16127018278,ELIANA CRISTINA ROCHA SILVA,"212,00"
3,202001,201901,MG,4123,BELO HORIZONTE,12135368026,ELIANE PEREIRA,"212,00"
4,202001,201901,MG,4123,BELO HORIZONTE,16271288457,IOLANDA DE ASSIS SILVA CESARINO,"294,00"

In [53]:
# Excluindo as colunas que não iremos precisar
df.drop('MÊS REFERÊNCIA', inplace=True, axis=1)
df.drop('MÊS COMPETÊNCIA', inplace=True, axis=1)
df.drop('CÓDIGO MUNICÍPIO SIAFI', inplace=True, axis=1)
df.drop('NIS FAVORECIDO', inplace=True, axis=1)
df.head()

   UF  NOME MUNICÍPIO                  NOME FAVORECIDO VALOR PARCELA
0  MG  BELO HORIZONTE            ADRIANA RANGEL SANSAO        253,00
1  MG  BELO HORIZONTE          ALEXSANDRA PEREIRA MUTZ        253,00
2  MG  BELO HORIZONTE      ELIANA CRISTINA ROCHA SILVA        212,00
3  MG  BELO HORIZONTE                   ELIANE PEREIRA        212,00
4  MG  BELO HORIZONTE  IOLANDA DE ASSIS SILVA CESARINO        294,00

In [54]:
#Renomeando as colunas
df = df.rename(columns={'VALOR PARCELA': 'valor'})
df = df.rename(columns={'NOME MUNICÍPIO': 'municipio'})
df = df.rename(columns={'UF': 'uf'})
df = df.rename(columns={'NOME FAVORECIDO': 'favorecido'})
df.head()

   uf       municipio                       favorecido   valor
0  MG  BELO HORIZONTE            ADRIANA RANGEL SANSAO  253,00
1  MG  BELO HORIZONTE          ALEXSANDRA PEREIRA MUTZ  253,00
2  MG  BELO HORIZONTE      ELIANA CRISTINA ROCHA SILVA  212,00
3  MG  BELO HORIZONTE                   ELIANE PEREIRA  212,00
4  MG  BELO HORIZONTE  IOLANDA DE ASSIS SILVA CESARINO  294,00

### 1 - Número de beneficiários Bolsa Família por estado

In [55]:
#Criando a variavel estados_beneficiarios que recebe a contagem dos beneficiarios por estado
estados_beneficiarios = df.uf.value_counts()

In [ ]:
#Plotando gráfico
data = [go.Bar(x=estados_beneficiarios.index,
        y=estados_beneficiarios.values,
        marker = {'color':'lightblue'})]


layout = go.Layout(title='Número de beneficiários Bolsa Família por estado',
                   yaxis={'title':'Beneficiários(em milhões)'},
                   xaxis={'title':'Estados'})

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

### 2 - Valor total de beneficios(em dinheiro) por estado

In [ ]:
#Convertendo a coluna valor de object para float
df['valor'] = df['valor'].str.replace('.', '').str.replace(',', '.').astype("float")

In [ ]:
#Criando a variavel estados_valor que recebe a soma dos valores ordenados por estado
estados_valor = df.groupby(by='uf').valor.sum()

In [ ]:
#Classificando os valores em ordem decrescente
estados_valor = estados_valor.sort_values(ascending=False)

In [ ]:
#Plotando o gráfico
data = [go.Bar(x=estados_valor.index,
        y=estados_valor.values,
        marker = {'color':'lightblue'})]


layout = go.Layout(title='Valor total de beneficios por estado',
                   yaxis={'title':'Valores(em milhões)'},
                   xaxis={'title':'Estados'})

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

### 3 - As 10 cidades com o maior número de beneficiários

In [ ]:
#Criando a variavel municipio_beneficiarios que recebe a contagem dos valores por municipio
municipio_beneficiarios = df.municipio.value_counts().head(10)

In [ ]:
#Plotando o gráfico
data = [go.Bar(x=municipio_beneficiarios.index,
        y=municipio_beneficiarios.values,
        marker = {'color':'lightgreen'})]


layout = go.Layout(title='Top 10 - Número de beneficiários Bolsa Família por municipio',
                   yaxis={'title':'Beneficiários(mil)'},
                   xaxis={'title':'Municipio'})

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

### 4 - As 10 cidades com o maior valor total de beneficios(em dinheiro)

In [ ]:
#Criando a variavel municipio_valor que recebe a soma dos valores ordenados por municipio
municipio_valor = df.groupby(by='municipio').valor.sum()

In [ ]:
#Classificando os valores em ordem decrescente
municipio_valor = municipio_valor.sort_values(ascending=False).head(10)

In [ ]:
#Plotando o gráfico
data = [go.Bar(x=municipio_valor.index,
        y=municipio_valor.values,
        marker = {'color':'lightgreen'})]


layout = go.Layout(title='Top 10 - Valor total de beneficios por municipio',
                   yaxis={'title':'Valores(em milhões)'},
                   xaxis={'title':'Municipio'})

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)